<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reportify</title>
        <link rel="stylesheet" href="/genre.css">
        <link rel="stylesheet" href="/nav.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--Import Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    </head>

    <body>
        <div class="navbar">
          <a id="logo-holder" href="/">
            <img src="images/Reportify.png" height="300" alt="" loading="lazy">
          </a>
          
          <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <nav class="nav-bar">
            <ul>
              <li><a href="/" class="active">Home</a></li>
              <li><a href="/list">Statistiques</a></li>
              <li><a href="/report">Review</a></li>
              <li><a href="#basdepage">Contact</a></li>
              <li>
                <h4 id="name-holder">
                  <% if(user){ %>
                    <a> <%= user.username %> </a>
                    <ul><li><button onclick='location.href="/logout"'>Déconnexion</button></li></ul>
                  <% } else{ %>  
                    <a href="/auth">Login</a>
                  <% } %>
                </h4>
              </li>
            </ul>
            <!--<div class="search-container">
              <form action="/search/process" method="post">
                <input class="search-input" type="text" placeholder="search" name="keyword" value=''>
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>-->
          </nav>
        </div>

        <script src="navbar/navbar.js"></script>

        <div class="page" >
          
          <div class="cadre-genre">
            <center><div class="genre-title">Selectionez genre :</div></center>
            <div class="genre">
              <ul>
                <li><a href="/pop">Pop</a></li>
                <li><a href="" class="active">Rap</a></li>
                <li><a href="/electro">Electro</a></li>
                <li><a href="/rock">Rock</a></li>
                <li><a href="/classique">Classique</a></li>
                <li><a href="/rnb">RnB</a></li>
                <li><a href="/jazz">Jazz</a></li>
              </ul>
            </div>
          </div>
              <div class="cadre">
                <h2 class="h2-liste">Liste des musiques notées pour la catégorie Rap:</h2>
                <div class="row" id="premier-element">
                  <div class="main-column">
                    <div class="column">
                      <div class="sub-column">
                        <h2>Chanson</h2>
                        <% for(var i=0; i < RapSongs.length; i++) { %>
                          <p><%= RapSongs[i].name_artist %></p>
                        <% } %>
                      </div>
                    </div>
                    <div class="column">
                      <div class="sub-column">
                        <h2>Avis</h2>
                        <% for(var i=0; i < RapSongs.length; i++) { %>
                          <p><%= RapSongs[i].description %></p>
                        <% } %>
                      </div>
                    </div>
                    <div class="column">
                      <div class="sub-column">
                        <h2>Rating</h2>
                        <% for(var i=0; i < RapSongs.length; i++) { %>
                          <p><%= RapSongs[i].rating %></p>
                        <% } %>
                      </div>
                    </div>
                    <div class="column">
                      <div class="sub-column">
                        <h2>Genre</h2>
                        <% for(var i=0; i < RapSongs.length; i++) { %>
                          <p><%= RapSongs[i].genre %></p>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
            <div class="search-container">
              <h2 class="h2-search">Utilisez la bar de recherche ci-dessous, afin de trouver une musique que vous avez noté plus facilement </h2>
              <form action="/search/process" method="post">
                <input class="search-input" type="text" placeholder="search" name="keyword" value=''>
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>
              <footer>
                <a name="basdepage"></a>
                <ul>
                  <li>Thomas Geyens: thomas.geyens@student.uclouvain.be</li>
                  <li>Arthur Remience: arthur.remience@student.uclouvain.be</li>
                  <li>Loris Dognaux: loris.dognaux@student.uclouvain.be</li>
                </ul>
              </footer>
          </div>
    </body>
</html>